In [1]:
#Question 1 - Find the output of the following
name='''Hi How are you?
Started learning python.
It's really interesting'''
print(name[:])
print(name[-10:-5])
print(name[3:12])
print(name[12:3])    #it will not work since the bigger value is at starting
print(name[5:6])
print(name[-4:-12])  #it will not work since the bigger value is at starting
print(name[::2])
print(name[::])      #string will print as it is
print(name[::-1])    #To reverse string
print(name[::-2])

Hi How are you?
Started learning python.
It's really interesting
ntere
How are y

w

H o r o?Satdlann yhn
tsral neetn
Hi How are you?
Started learning python.
It's really interesting
gnitseretni yllaer s'tI
.nohtyp gninrael detratS
?uoy era woH iH
gisrtiyle 'I.otpgire ert
uyeawHi

In [2]:
#Quention 2
l1=['a','b',20,30,'t',100,300,400,'Happy','major']
print(l1[:])
print(l1[::3])
print(l1[::2])
print(l1[::-2])
#How to extract  value “Happy” based on index and negative index
print(l1[8])
print(l1[-2])
#How to check type of data in list at 4th position
print(type(l1[3]))
#Extract values for 100, 300, 400 
print(l1[5:8])

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
['a', 30, 300, 'major']
['a', 20, 't', 300, 'Happy']
['major', 400, 100, 30, 'b']
Happy
Happy
<class 'int'>
[100, 300, 400]

In [3]:
#Question 3
l2=[1,2,3,5,['a','b','work hard'],100,200,'Success']
print(l2[4])
print(l2[1:5])
print(l2[7])
print(l2[7][2])
print(l2[7][2:])
print(l2[:3])
print(l2[3:])

['a', 'b', 'work hard']
[2, 3, 5, ['a', 'b', 'work hard']]
Success
c
ccess
[1, 2, 3]
[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [4]:
#Question 4 - From the above l2 value ‘b’ must be changed to ‘BEE’
l2[4][1]="BEE"
print(l2)

[1, 2, 3, 5, ['a', 'BEE', 'work hard'], 100, 200, 'Success']

In [5]:
#Queation 5 - From l2 “BEE” has to discard
l2[4].remove('BEE')

In [6]:
#Question 6 - In l2 add a dictionary at the end {‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]}
l2.append({'insect':['bee','moth'],'bird':['parrot','sparrow']})

In [7]:
#Question 7 - From l2 extract insect information.
l2[8]['insect']

['bee', 'moth']

In [8]:
#Question 8 - Create a dictionary d1 = {‘a’:10, ‘b’:20, ‘c’ : 30} and add the d1 at 2nd position of l2
d1={'a':10,'b':20,'c':30}
l2.insert(1,d1)

In [13]:
#Question 9 - Based on new l2 created here extract the value 10 from l2 dictionary.
l2[1]['a']

10

In [14]:
#Question 10
l3 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, "Success", (200,300, "Hundreds")] 
print(l3[4][2])
print(l3[5][:])
#print(l3[2][:]) #Getting error since integres can not bt subscriptable
print(l3[1:5])
print(l3[5])
print(l3[5][3:-1])
print(l3[-1])
print(l3[-4:-3])
print(l3[-4:-10])  # it will not work and will give empty list
print(l3[7][2])
print(l3[-7][2:])
print(l3[:-3])
print(l3[-3:])

50
Python
[2, 3, 5, (90, 40, 50, 10)]
Python
ho
(200, 300, 'Hundreds')
[100]
[]
work hard
thon
[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]
[200, 'Success', (200, 300, 'Hundreds')]

In [ ]:
#Question 11 -	Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails
#if marks are more than 80 output must be “You got distinction”
#For marks more than 60 output must be “You got First class”
#Marks more than 40 will display “You got second class”
#Marks more than or equal to 35 “PASS” Otherwise Fail

marks=input("Enter marks")

if (not marks.isalpha() and not marks.isalnum()) or marks.isdigit():
        marks=float(marks)
        if marks>=100 or marks<=0:
            print("Enter proper marks")
        elif marks >=80 :
            print("Distinction")
        elif marks>=70:
            print("First class")
        elif marks>=50:
            print("Second class")
        elif marks>=35 :
            print("Pass")
        else:
            print("Fail")
else:
        print("Not proper marks")

In [ ]:
#Question 11 - Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails
#If marks are more than 80 output must be “You got distinction”
#For marks more than 60 output must be “You got First class”
#Marks more than 40 will display “You got second class”
#Marks more than or equal to 35 “PASS” Otherwise Fail
#Using function and exceptions

#Using function

def result():
    try:
        marks=float(input("Enter your marks:"))

        if marks<0 or marks>100:
            raise ValueError("Marks must be between 0 and 100")
        
        if marks>=80:
            return "You got dintinction"
        elif marks>=60:
            return "You got first class"
        elif marks>=40:
            return "You got second class"
        elif marks>=35:
            return "PASS"
        else:
            return "Fail"
        
    except ValueError as e:
        return f"Invalid input: {e}"
    

print(result())

In [ ]:
#Question 12 - Ask user to enter information about salary of the employee per year and rating received as A, B, C, D
#If salary upto 5 lpa then increament based on ratings are  A = 16% , B=12%, C= 10%, D=6%
#If salary upto 10 lpa then increament based on ratings are  A = 14% , B=10%, C= 8%, D=6%
#If salary upto 15 lpa then increament based on ratings are  A = 8% , B=6%, C= 4%, D = no increment
#If salary upto 23 lpa then increament based on ratings are  A = 7% , B=5%, C= 4%, D=no

salary=int(input("Enter employee salary per year:"))
rating=input("Rating received to employee(A,B,C,D):")
rating=rating.upper()

incre_salary=salary

if salary<=500000:
    if rating=="A":
        incre_salary=salary*1.16
    elif rating=="B":
        incre_salary=salary*1.12
    elif rating=="C":
        incre_salary=salary*1.1
    elif rating=="D":
        incre_salary=salary*1.06
    else:
        print("Invalid rating")
        

elif salary<=1000000:
    if rating=="A":
        incre_salary=salary*1.14
    elif rating=="B":
        incre_salary=salary*1.10
    elif rating=="C":
        incre_salary=salary*1.08
    elif rating=="D":
        incre_salary=salary*1.06
    else:
        print("Invalid rating")
        

elif salary<=1500000:
    if rating=="A":
        incre_salary=salary*1.08
    elif rating=="B":
        incre_salary=salary*1.06
    elif rating=="C":
        incre_salary=salary*1.04
    elif rating=="D":
        incre_salary=salary
    else:
        print("Invalid rating")
        

elif salary<=2300000:
    if rating=="A":
        incre_salary=salary*1.07
    elif rating=="B":
        incre_salary=salary*1.05
    elif rating=="C":
        incre_salary=salary*1.04
    elif rating=="D":
        incre_salary=salary
    else:
        print("Invalid rating")
        

else:
    print("Increment policy above 23 lakh is not defined.")

print("Incremented salary is",incre_salary)

In [ ]:
#Question 13 - Ask user to opt for courses for master degree based on the following 
# #L1 = [“HR”, “Finance”, “Marketing”, “DS”] #Based on above subject there are two different streams. 
# For example- HR is having HR core and HR analytics and Marketing is having core and Marketing analytics.
#  # Analytics is the optional subject and having added extra fees. DS is not having analytics. 
# #If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having 10% extra on 2 lakhs. 
# #If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 . #Transportation charges 13000 per semester. 
# Calculate the total annual cost based on selected service. 
# #User will enter values as subject, analytics(Y/N), Hostel (Y/N), food(How many months?), Transportation(semester/annual) 

subject=input("Enter subject(HR,Finance,Marketing,DS):").upper() 
analytics=input("Optional subject analytics (Y/N):").upper() 
hostel=input("hostel stay (Y/N):").upper() 
food=input("for how many months you want food:") 
trans=input("Enter transporatation for semester(How many semester)")

fees=200000   #base fee 

#College fee
if analytics=="Y":
    if subject in ["HR","FINANCE","MARKETING"]:
        fees=fees*1.10
    elif subject=="DS":
        print("analytics not available for DS")

#Hostel fee
if hostel=="Y":
    fees=fees+200000

#food fee
fees=fees+(int(food)*2000)

#transporatation fee
fees=fees+(int(trans)*13000)

print("The final fee is:",fees)

In [ ]:
#Question 14 - notebook bill printing
import pandas as pd
grand_total = 0

stat = { "Books": {"Hindi": {"1-4": 60, "5-8": 100, "9-10": 150 },
                   "Marathi": {"1-4": 60,"5-8": 100,"9-10": 150},
                   "English": {"1-4": 80,"5-8": 100,"9-10": 150},
                   "Science": {"1-4": 90,"5-8": 120,"9-10": 200},
                   "Maths": {"1-4": 100,"5-8": 140,"9-10": 250}},
        "Notebooks" : {"square": {"100_pages": 40,"200_pages": 70},
                       "4liens": {"100_pages": 30,"200_pages": 50},
                       "2lines": {"100_pages": 30,"200_pages": 50},
                       "single_lines": {"100_pages": 60,"200_pages": 100},
                       "A4_notebook": {"100_pages": 100,"200_pages": 180}}}

Bill = {"Book/Notebook":[],"quantity":[],"total":[]}

grandTotal = 0


while True:

  req = input("Books/Notebooks/Exit")
  if req == "Exit" :
    print( "GrandTotal =" , grandTotal)
    print(40 * "-")
    print("{:^40}".format("Bill"))
    print(40 * "-")
    df  = pd.DataFrame(Bill)
    df.index = range(1, len(df) + 1)
    print(df)
    print(40 * "-")
    print ("{:<19}{:>19}".format("Total",grandTotal))
    break
  if req == "Books":
      cust_ask = input("which book you want(Hindi,Marathi,English, Science ,Maths) : ")
      Bill["Book/Notebook"].append(cust_ask + " Book")
      std = int(input("enter the standard : "))
      if std in (1,2,3,4):
        std = "1-4"
      elif std in (5,6,7,8):
        std = "5-8"
      else:
        std = "9-10"
      quant = int(input("Quantity"))
      Bill["quantity"].append(quant)
      for i in stat.values():
        print(stat[req.capitalize()][cust_ask.capitalize()][std])
        Total = stat[req.capitalize()][cust_ask.capitalize()][std] * quant
        grandTotal += Total
        Bill["total"].append(Total)
        print("total  " ,Total)
        break

  elif req == "Notebooks" :
      Notebook = input("square/l4iens/2lines/single_lines/A4_notebook")
      Bill["Book/Notebook"].append(Notebook + " Notebook")
      pages = input("100_pages/200_pages")
      quant = int(input("quantity : "))
      Bill["quantity"].append(quant)
      for i in stat.values():
        Total = stat[req.capitalize()][Notebook][pages] * quant
        grandTotal += Total
        Bill["total"].append(Total)
        print ("Total" , Total)
        break
  else:
    print( "invalid input")

Type casting

In [ ]:
#Question 17
a=100
s=str(a)
print(s,type(s))

#l=list(a)     #int object is not iterable
#print(l,type(l))

#t=tuple(a)
#print(t,type(t))   #int oject is not iterable

#d=dict(a)   #int object is not iterable.

#st=set(a)    ##int object is not iterable.

f=float(a)
print(f,type(f))

In [ ]:
#Question 18
city="Pune"

#i=int(city)   #since its not numerical value
#f=float(city)  #string can not convert to float

l=list(city)
print(l,type(l))

t=tuple(city)
print(t,type(t))

#d=dict(city)   #it will not work since length is not appropriate

st=set(city)
print(st,type(st))

In [ ]:
#Question 19
marks=[20,18,15,17,18]

#i=int(marks)   #list can not convert into int

#f=float(marks)  #float must be string or real number

l=list(marks)
print(l,type(l))

t=tuple(marks)
print(t,type(t))

#d=dict(marks)   #can not convert into dictionary

st=set(marks)
print(st,type(st))

List operations

In [ ]:
#Question
#snames = []

#snames.append(20)
#print(snames)

#snames.extend([30])
#print(snames)

#snames.append([40, 50])
#print(snames)

#snames.extend("WORK")
#print(snames)

#combo = [1, 'a', 'b', 2, 3]
#print(combo)


#new_list = combo + snames
#print(new_list)

#snames.append(combo)
#print(snames)

#snames.extend(combo)
#print(snames)

[20, 30, [40, 50], 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3], 1, 'a', 'b', 2, 3]

In [ ]:
#Question - Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add 
#l1=[1,2]
#l3=['a','b','c','d','e','f','g']

#l3.insert(3,l1)
print(l3)

In [ ]:
#Question - Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] if the data is in integer or float then multiply with 5.  
#l1=[1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10 ] 
#l2=l1*5
print(l1)

for i in l1:
    if ((type(i)==int)or(type(i)==float)):
        l2.append(i*5)
    elif ((type(i)==str) or (type(i)==list)):
        l2.append(i)

print(l2)


#l2.remove("Nisha")
print(l2)

loc=l2.index(20.50)
print(loc)

In [25]:
#Question - Create a comprehensive list for square upto 10
square=[i**2 for i in range(1,11)] 
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
#Question - Create the comprehensive list to find number divisible by 13 till 200
div=[i for i in range(1,201) if i%13==0]
div

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [30]:
#Question - Create the list which is divisible by 4 from 300 to 400  
div4=[i for i in range(299,401) if i%4==0]
div4

[300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396,
 400]

In [ ]:
#Question - Create a comprehensive list to generate list up to x, y as a number. For example if x = 3 list will be x_list = [0,1,2] and y=2 then y_list =[0,1]
#Then generate a new list based on all combination of x and y.
#For example: if x = 1 and y =2  then x_list = [0] and y_list = [0,1]
#And output will be [[0,0],[0,1]]

#If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]

x=int(input("Enter x value"))
y=int(input("Enter y value"))
result=[]
i=0
while i<x:
    j=0
    while j<y:
        result.append([i,j])
        j+=1
    i+=1

print(result)

In [ ]:
#Question - Ask user to enter the name and DOB and generate the password based on first name 4 characters and  @ddmm. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505 

name=input("Enter a name").upper()
DOB=input("Enter DOB (dd-mm-yyyy)")

name_part=name[:4]
day,month,year=DOB.split("-")
password=name_part+"@"+day+month
print(password)

In [ ]:
#Ask user to enter the name and DOB and generate the password based on first name 4 characters and  last 4 digits of DOB or year @yyyy. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@1978 
name=input("Enter a name").upper()
DOB=input("Enter DOB (dd-mm-yyyy)")

name_part=name[:4]
day,month,year=DOB.split("-")
password=name_part+"@"+year
print(password)

In [ ]:
#Queation - Create the format mentioned below
for i in range(5):
    print('* '*i)

In [ ]:
#Queation - Create the format mentioned below
num=int(input("Enter the value"))
for i in range(num,0,-1):
    print("*"*i)

In [ ]:
#Queation - Create the format mentioned below
val=input("Enter the value")
for i in range(1,len(val)+1):
    print(" ".join(val[:i]))

z
z x
z x c
z x c v
z x c v b

In [ ]:
#Queation - Create the format mentioned below
val=input("Enter the value:").upper()
#print(len(val))

for i in range(len(val)):
    print(val[i]*(i+1))

In [ ]:
#Queation - Create the format mentioned below
word=input("Enter a word: ")
print(len(word))
ab=''
for i in range(len(word)-1,-1,-1):
    ab=ab+word[i]
    print(ab)

In [ ]:
#Create a list of odd numbers from 1 to 10
#Using for loop
#Using comprehensive list
a=[]
for i in range(0,11):
    if i%2!=0:
        a.append(i)
    
print(a)

In [32]:
#Create even number list using for loop from 200 to 250
even=[]
for i in range(199,251):
    if i%2==0:
        even.append(i)
print(even)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

In [ ]:
#Question - List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
#Multiply each and every element from list2 by 2 and store the answer in list3

List2 = [2,70,'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
l3=[]
for i in (List2):
    if type(i) in (int,float,str,list) :
        l3.append(i*2)
    else:
        l3.append(i)

In [ ]:
#Question - Create a function to validate user first name/last name. User first name/last name should contain only characters. No special characters, numbers, space in name 

def n(name):
    name=input("Enter your name")
    
    if name.isalpha()==True:
        return "Valid name"
    else:
        return "Invalid name"
    

print(n(name))

In [ ]:
#Question - Create a function to accept mobile number. Mobile number should contain 10 digits. No Special character, alphabets and space. 
def num(number):
    
    
    if len(number)!=10:
        return "Invalid length of phone Number"
    elif number.isnumeric()==True:
        return "Valid number"
    else:
        return "Invalid number"

In [ ]:
#Question - Create a function to generate auto-password based on specific person details. Ask user to enter name, DOB. And password must be First name 4 characters and year of birth.

def details():
    name=input("Enter your name: ")
    dob=input("Enter your date of birth(dd-MM-yyyy):")
    name=name.upper()
    
    return name, dob


def password(name,dob):
    name_part=name[:4]
    day, month, year=dob.split("-")
    passw=name_part+"@"+year
    return passw

name, dob = details()
print(password(name, dob))

In [ ]:
#Question - Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all the details in dictionary with customer number as 1 for first time. If user try to enter another value, then number should increase as 2 with new details and previous values should not change.
#For example:
#{1:{name : "Sachin", "DOB": "21-06-1965" , "mobile": "1234123423"}}

#{1:{name : "Sachine", "DOB": "21-06-1965" , "mobile": "1234123423"},
#2: {name : "Sumedh", "DOB": "02-02-2002" , "mobile": "1234123433"}}

def details():
    Name=input("Enter your name:")
    DOB=input("Enter you date of birth(dd-MM-yyyy):")
    Mobile=input("Enter your phone number:")
    return Name,DOB,Mobile
s={}
def detail(Name,DOB,Mobile):
    if len(s.keys())==0:
        s.update({1:{"Name":Name,"DOB":DOB,"Mobile No": Mobile}})
    else:
        roll=(len(s.keys()))+1
        s.update({roll:{"Name":Name,"DOB":DOB,"Mobile No": Mobile}})
    return s

Name,DOB,Mobile=details()
print(detail(Name,DOB,Mobile))

In [ ]:
#Question - Create a function to calculate age till now.
from datetime import date

def calculate_age(dob):  
    
    birth_year, birth_month, birth_day = dob
    today = date.today()

    age = today.year - birth_year

    
    if (today.month, today.day) < (birth_month, birth_day):
        age -= 1

    return age

In [ ]:
#Question - Create a function to check age eligibility for given customer based on DOB. Function will take two input DOB and ELIGIBILITY age.
from datetime import date

def check_eligibility(dob, eligibility_age):
    birth_year, birth_month, birth_day = dob
    today = date.today()

    age = today.year - birth_year
    if (today.month, today.day) < (birth_month, birth_day):
        age -= 1

    if age >= eligibility_age:
        return f"Eligible (Age: {age})"
    else:
        return f"Not Eligible (Age: {age})"

In [ ]:
#Question - Calculate total hrs based on input sign in and sign out time 
from datetime import datetime

def calculate_total_hours(sign_in, sign_out):

    time_format = "%H:%M"

    in_time = datetime.strptime(sign_in, time_format)
    out_time = datetime.strptime(sign_out, time_format)

    if out_time < in_time:
        return "Sign-out time cannot be before sign-in time"

    total_time = out_time - in_time
    total_hours = total_time.total_seconds() / 3600

    return total_hours

In [ ]:
#name, mobile, pan, 10th, 12th, gradmarks
#1. Validate the all input info
#2. After validation, add into the dictionary and will return the roll/emp Id
#3. Save this info in a file
#4. On the next record check if already record exists then add with new ID
import os
file_name="C:\\Users\\barad\\OneDrive\\Desktop\\New folder (2)\\Bill_20260210_100302.txt"
def details():
    try:
        name=input("Enter your name: ")
        if not name.replace(" ","").isalpha():
            raise ValueError("Name must contain alphabets")
        
        mobile=input("Enter your mobile ")
        if not mobile.isdigit() or len(mobile)!=10:
            raise ValueError("Mobile number shoule be numeric and length should be 10 digits")
        
        PAN=input("Enter your PAN card number: ").upper()
        if len(PAN)!=10:
            raise ValueError("PAN card number must be 10 characters")
        elif not re.fullmatch(r'[A-Z]{5}[0-9]{4}[A-z]',PAN):
            raise ValueError("Incorrect format for PAN card")
        
        tenth=input("Enter your 10'th marks:")
        if not (tenth.isdigit() and 0<=int(tenth)<=100):
            raise ValueError("The 10th marks must be between 0 and 100 ")
        
        twelth=input("Enter your 12'th marks:")
        if not (twelth.isdigit() and 0<=int(twelth)<=100):
            raise ValueError("The 12th marks must be between 0 and 100 ")
        
        grad=input("Graduation CGPA")
        if not grad.replace('.', '', 1).isdigit():
            raise ValueError("Graduation CGPA must be number")
        grad=float(grad)
        if not (0.0<grad<=10.0):
            raise ValueError("Graduation CGPA must be between 0 and 10")
        
        if os.path.exists(file_name):
            with open(file_name,'r') as f:
                lines=f.readlines()
                emp_id=len(lines)+1
        else:
            emp_id=1

        record={
            "id":emp_id,
            "name":name,
            "mobile":mobile,
            "PAN":PAN,
            "10th":int(tenth),
            "12th":int(twelth),
            "graduation":grad
        
        }

        with open (file_name,"a") as f:
            f.write(f"{emp_id}|{name}|{mobile}|{PAN}|{tenth}|{twelth}|{grad}\n")

        print("Record added successfully")
        print("Your ID is:",emp_id)  

    except ValueError as e:
        print("ValueError:",e)